<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Github Repo Search</title>
</head>
<body>
<form action="/" method="get">
  <label for="search">Search for:</label>
  <input type="search" name="q" id="search"/>
  <input type="submit" value="Submit"/>
</form>

<% if @resp %>
  <%= @resp %>
<% end %>
</body>
</html>